DNA_TOKEN="token_from_apibara"
PG_CONNECTION_STRING="postgresql://postgres:postgres@localhost:5432/postgres"
# TOKEN_PRICE_SYNC_INTERVAL_MS=60000
# MAX_QUOTER_REQUESTS_PER_MINUTE=60
# COINGECKO_TOKEN_PRICE_SYNC_INTERVAL_SECONDS=0
# COINGECKO_API_KEY=
# EKUBO_QUOTER_URL=https://prod-api-quoter.ekubo.org
# NODE_TLS_REJECT_UNAUTHORIZED=0
