name: Deploy to App Platform

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DO_ACCESS_TOKEN }}

      - name: Install envsubst
        run: sudo apt-get update && sudo apt-get install -y gettext

      - name: Upsert DigitalOcean App
        env:
          APIBARA_DNA_TOKEN: ${{ secrets.APIBARA_DNA_TOKEN }}
        run: envsubst < .do/app.yaml | doctl apps create --spec - --upsert --update-sources
